*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 900px;
    margin: 20px auto;
    background-color: rgb(255, 245, 155);
}
h1{
    height: 60px;
    text-align: center;
    padding-top: 8px;
}
img{
    width: 700px;
    height: auto;
    display: block;
    margin: 50px auto;
}