*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 900px;
    margin: 20px auto;
    background-color: rgb(255, 245, 155);
}
h1{
    height: 60px;
    text-align: center;
    padding-top: 8px;
}
img{
    width: 400px;
    height: auto;
    display: block;
    margin: 50px auto;
}
.button-container{
    height: 40px;
    width: auto;
    padding: 8px 16px;
    margin-bottom: 16px;
}
a{
    text-decoration: none;
    color: rgb(107, 52, 0);
    font-size: 20px;
}
.button{
    background-color: rgb(255, 187, 0);
    width: 150px;
    border-radius: 5px;
}
.content-headings{
    height: 60px;
    width: auto;
    text-align: left;
    padding: 8px 16px;
}
.content{
    height: auto;
    width: auto;
    padding: 8px 16px;
    text-align: justify;
}
li{
    margin-bottom: 6px;
}