*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 800px;
    background-color: rgb(255, 196, 0);
    margin: 20px auto;
}
h1{
    text-align: center;
}
ul{
    text-align: center;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgba(231, 113, 3, 0.87);
}