*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 800px;
    background-color: rgb(255, 245, 155);
    margin: 20px auto;
}
h1{
    text-align: center;
}
ul{
    text-align: center;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(107, 52, 0);
    font-size: 20px;
}