*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 800px;
    background-color: rgb(255, 245, 155);
    margin: 20px auto;
}
h1{
    text-align: center;
    height: 64px;
    width: auto;
    padding: 16px 24px;
    background-color: rgb(233, 215, 56);
    margin-bottom: 16px;
    border-radius: 20px;
}
ul{
    text-align: center;
    list-style-type: none;
}
li{
    height: 24px;
    width: 200px;
    margin: 3px auto;
}
a{
    text-decoration: none;
    color: rgb(107, 52, 0);
    font-size: 20px;
}